<!DOCTYPE html>
<html>
<head>
	<title>Artist Registration</title>
	<link rel="stylesheet" type="text/css" href="css/artist.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
</head>
<body class="background">
	<div class="regform"><h1>Artist Registration</h1></div>
	<div class="main">
		<form action="/"> 
		<h2 class="name">Name</h2>
		<input class="firstname" type="text" name="name" placeholder="Name" required>

		<h2 class="name">Email</h2>
		<input class="email" type="text" placeholder="Email" name="email" required>

		<h2 class="name">Password</h2>
		<input class="Password" type="text" placeholder="Password" name="Password" required>
	

		<button type="submit" class="submit-btn">Register</button>
		</form>
	</div>
	<script>
		function multipleFunc() {
            document.getElementById("mySelect").multiple = true;
         }
	</script>
</body>
</html>